/* header {
  grid-area: a;
  background-color: #522760;
}

main {
  grid-area: b;
  background-color: #219973;
}

footer {
  grid-area: c;
  background-color: #5a99c3;
} */

/*
body {
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-areas:
    "a a a a"
    "b b b b"
    "b b b b"
    "b b b b"
    "c c c c";    
}
*/

/* main {
  background-color: rgb(165, 225, 236);
} */

main {
  background-color: #cbfcff;
}

/* .custom-background {
  background-color: #a2c9ec; /* Cambia este color al que desees
} */

.custom-background {
  background-color: #cbfcff; /* Cambia este color al que desees */
}

#whatsapp-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
}

