.table-collapse {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.envelope {
    background-color: #ccf9f9;
}

.form-control {
    color: #cfcfcf;
}

.small-carousel {
    max-width: 500px;
    margin: auto; 
}

.small-carousel .carousel-inner img {
    height: 300px;
    object-fit: cover;
}

.size {
    width: 10vw;
    height: 10vw;
}