#whatsapp-icon,
#whatsapp-icon a,
#whatsapp-icon img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
}

#whatsapp-icon:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.small-carousel {
    max-width: 500px;
    margin: auto;
}

.small-carousel .carousel-inner img{
    height: 300px;
    object-fit: cover;
}